//pin mode may be either WiringPi or GPIO
PinMode = WiringPi

//The mapping of each control to its pin.
//Only WiringPi pin 1 or GPIO pin 18 supports PWM
PwmPin = 1

MotorXA1 = 8
MotorXA2 = 9
MotorXB1 = 7
MotorXB2 = 0

MotorYA1 = 2
MotorYA2 = 3
MotorYB1 = 12
MotorYB2 = 13

motorZA1 = 5
MotorZA2 = 6
MotorZB1 = 10
MotorZB2 = 11

//0 is least significant bit, 2 is most significant
limitSel0 = 15
limitSel1 = 16
limitSel2 = 4
LimitIn = 14